$color1: #232323; // darkest
$color2: #dae8da; // lightest
$color3: #dae8da; // lighter
$color4: #1ea21e; // vibrant

@import 'application';

body {
  background: $color1 image-url('cybre-photo.jpeg');
}

@media screen and (min-width: 1300px) { 
  .column {
    flex-grow: 1 !important;
    max-width: 500px;
  }

  .drawer {
    width: 20%;
  }

  .columns-area { 
    justify-content: center; 
  } 
}

@media screen and (min-width: 1900px) { 
  .column, .drawer { 
    width: 400px; 
    border-radius: 4px; 
    height: 96vh; 
    margin-top: 2vh; 
  } 
}

.muted {
  .status__content p, .status__content a {
    color: lighten($color1, 35%);
  }

  .status__display-name strong {
    color: lighten($color1, 35%);
  }
}

.status time:after,
.detailed-status__datetime span:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "\00a0\00a0\f08e";
}

.compose-form__buttons button.active:last-child {
  color:$color2;
  background-color: $color4;
  border-radius:3px;
}
